*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# key stores
analyzer.debug.keystore
analyzer.keystore

# key properties
keystore.properties
keystore.debug.properties

app/src/main/assets/analytics.properties
